<header>
  <div class="home-caja-suprema">
    <div class="home-caja1">
      <img src="/img/logo.png" alt="logo en proceso">
      <div class="home-caja2">
        <h1>SANWI</h1>
        <p>Los mejores sandwiches del pueblo</p>
      </div>
    </div>
    <div class="home-menu-hamburguesa-no-tan-hamburguesa">
      <i class="fas fa-th-list"></i>
    </div>
    <div class="home-caja3">
      <div class="home-form">
        <form action="/products/result" method="get">
          <i class="fas fa-search"></i>
          <input type="search" placeholder="Lomitos, Hamburguesas, Milanesas, etc.." name="search" id="search">
        </form>
      </div>
    </div>
  </div>
  <nav>
    <% if( locals.user ) { %>
      <div class="home__user">
        <img class="home__user-img" src="/img/users/<%= user.image %>" alt="foto de perfil de  <%= user.username %>">
        <p class="home__username">
          <%= locals.user.username %>
        </p>
      </div>
    <% } %>

        <ul>
          <li>
            <a href="/">Inicio</a>
          </li> 
          <% if( !locals.user ) { %>
            <li>
              <a href="/users/login">Iniciar Sesión</a>
            </li>
            <li>
              <a href="/users/register">Registro</a>
            </li>
          <% } %>
          <li>
            <a href="/products">Productos</a>
          </li>
          <li>
            <a href="/cart">Mi carrito</a>
          </li>
          <li>
            <a href="/products/create">Subir Sandwich</a>
          </li>
        </ul>

  </nav>
</header>