<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/form.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <div class="home-caja-suprema">
            <div class="home-caja1">
                <img src="img/logo.png" alt="logo en proceso">
                <div class="home-caja2">
                    <h1>SANWI</h1>
                    <p>Los mejores sandwiches del pueblo</p>
                </div>
            </div>
            <div class="home-menu-hamburguesa-no-tan-hamburguesa">
                <i class="fas fa-th-list"></i>
            </div>
            <div class="home-caja3">
                <div class="home-form">
                    <form action="/" method="post">
                        <i class="fas fa-search"></i>
                        <input type="search" placeholder="Lomitos, Hamburguesas, Milanesas, etc.." name="buscador"
                            id="buscador">
                    </form>
                </div>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="product-detail">Productos</a>
                </li>
                <li>
                    <a href="login">Iniciar Sesión</a>
                </li>
                <li>
                    <a href="register">Registro</a>
                </li>
            </ul>
            <div class="home-carrito">
                <i class="fas fa-shopping-cart"></i>
                <i class="fas fa-sort-down"></i>
            </div>
        </nav>
    </header>
    <main>
        <h1>DATOS DE FACTURACIÓN</h1>
        <h3>Se utilizarán estos datos para enviar tu pedido</h3>
        <div class="register__form">
            <form action="/" method="post">
                <div class="register__fields">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" required />

                    <label for="cuil">CUIL/CUIT</label>
                    <input type="number" name="cuil" id="cuil" required />

                    <label for="direccion">Dirección</label>
                    <input type="text" name="direccion" id="direccion" required />

                    <label for="codigo">Código postal</label>
                    <input type="number" name="codigo" id="codigo" required />
                </div>
                <br>
            </form>
            <form action="/" method="post">
                <div class="register__fields">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" required />

                    <label for="provincia">Provincia</label>
                    <input type="text" name="provincia" id="provincia" required />

                    <label for="localidad">Localidad</label>
                    <input type="text" name="localidad" id="localidad" required />

                    <label for="telefono">Telefono</label>
                    <input type="number" name="telefono" id="telefono" required />
                </div>
                <br>
            </form>
        </div>
        <div class="register__form register__button">
            <button type="submit">Ordenar pedido</button>

        </div>
    </main>
    <footer>
        <p>Copyright © 2023-2023 Sanwi</p>
    </footer>
</body>

</html>