<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <body>
        <header>
            <div class="home-caja1">
                <img src="img/logo.png" alt="logo en proceso">
                <div class="home-caja2">
                    <h1>SANWI</h1>
                    <p>Los mejores sandwiches del pueblo</p>
                </div>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="">Inicio</a>
                    </li>
                    <li>
                        <a href="">Productos</a>
                    </li>
                    <li>
                        <a href="">Iniciar Sesión</a>
                    </li>
                    <li>
                        <a href="">Registro</a>
                    </li>
                </ul>
            </nav>
        </header>
    </body>
</body>
</html>