<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="caja1">
            <div class="caja2">
                <img src="" alt="logo en proceso">
                <h1>SANWI</h1>
            </div>
            <p>Los mejores sandwiches del pueblo</p>
        </div>
        <nav>
            <ul>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        
    </main>
    <footer>

    </footer>
</body>
</html>