<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs', { cssSheets: ["home"], title: "Inicio" }) %>

<body>
    <%- include('./partials/header.ejs') %>
    <main>      
        <div class="home-slider-box">
            <ul>
                <li>
                    <img src="img/milanesa.jpg" alt="">
                    <div class="home-texto">
                        <h2>
                            Satisfacción Garantizada
                        </h2>
                        <p>
                            En Sanwi, nuestra misión es deleitar tu paladar con la más alta calidad en sandwiches. Desde el primer mordisco, te sumergirás en una explosión de sabores que te dejarán deseando más. ¡Descubre el auténtico placer de comer con nosotros!
                        </p>
                    </div>
                </li>
                <li>
                    <img src="img/burguer.jpg" alt="">
                    <div class="home-texto">
                        <h2>
                            Variedad sin Límites
                        </h2>
                        <p>
                            Nuestro e-commerce Sanwi ofrece una extensa variedad de sandwiches para cada gusto y ocasión. Desde opciones clásicas y reconfortantes hasta creaciones únicas que sorprenderán tu paladar. ¡Explora nuestro menú y encuentra el sandwich perfecto para ti!
                        </p>
                    </div>
                </li>
                <li>
                    <img src="img/sanwi.jpg" alt="">
                    <div class="home-texto">
                        <h2>
                            Entrega Rápida y Segura
                        </h2>
                        <p>
                            En Sanwi, tu satisfacción es nuestra prioridad. No solo te ofrecemos sandwiches deliciosos, sino también un servicio de entrega rápido y seguro para que disfrutes de tus favoritos en la comodidad de tu hogar. ¡Haz tu pedido hoy y déjanos consentirte con sabores insuperables!
                        </p>
                    </div>
                </li>
            </ul>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fffae9" fill-opacity="1" d="M0,128L120,144C240,160,480,192,720,197.3C960,203,1200,181,1320,170.7L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
        </div>
        <div class="home-caja-introduccion">
                <img src="img/burguer3.png" alt="">
            <svg class= "uno" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#CD3333" fill-opacity="1" d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
            <div class="home-caja-introduccion-texto">
                <h2>
                    <i class="fas fa-hamburger fa-spin"></i>¡Bienvenido a Sanwi: Tu Destino para Sabores Deliciosos!<i class="fas fa-hamburger fa-spin"></i>
                </h2>
                <p>
                    Descubre una experiencia única en el mundo de los sabores con Sanwi, tu e-commerce de sandwiches
                    gourmet. Sumérgete en una amplia variedad de opciones exquisitas, elaboradas con ingredientes frescos y
                    cuidadosamente seleccionados para satisfacer tus antojos más exigentes. Desde clásicos atemporales hasta
                    creaciones innovadoras, Sanwi te invita a disfrutar de momentos inolvidables con cada bocado. ¡Ordena
                    ahora y lleva la pasión por los sandwiches a tu mesa!
                </p>
            </div>
            <svg class= "dos" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#CD3333" fill-opacity="1" d="M0,288L48,256C96,224,192,160,288,128C384,96,480,96,576,112C672,128,768,160,864,197.3C960,235,1056,277,1152,293.3C1248,309,1344,299,1392,293.3L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
        </div>
        <div class="home-caja-ofertas">
            <h3>
                Nuestras ofertas
            </h3>
            <ul>
                <li>
                    <img src="img/1.jpg" alt="">
                    <div class="home-texto-tarjeta">
                        <h4>
                            Especial Sanwi
                        </h4>
                        <p class="home-precio">
                            Precio caro
                        </p>

                    </div>
                </li>
                <li>
                    <img src="img/2.png" alt="">
                    <div class="home-texto-tarjeta">
                        <h4>
                            Mediterráneo Fresco
                        </h4>
                        <p class="home-precio">
                            Precio caro
                        </p>

                    </div>
                </li>
                <li>
                    <img src="img/3.jpg" alt="">
                    <div class="home-texto-tarjeta">
                        <h4>
                            Sabores de Asia
                        </h4>
                        <p class="home-precio">
                            Precio caro
                        </p>

                    </div>
                </li>
            </ul>
        </div>
        <div class="home-caja-menu">
            <p>¿No te interesan nuestras ofertas?</p>
            <div class="home-menu">
                <div class="home-menu-cartel">
                    <h3>
                        REVISA NUESTRO
                    </h3>
                    <h2>
                        MENU
                    </h2>
                </div>
                <a href="/products">Click Aquí</a>
            </div>
        </div>
        <div class="home-caja-recorrido">
            <h3>
                Recorrido
            </h3>
            <ul>
                <li>
                    <i class="fas fa-receipt"></i>
                    <div class="home-texto-recorrido">
                        <h4>
                            ETAPA 1 
                        </h4>
                        <p>
                            Una vez que el cliente realiza el pedido a través del e-commerce Sanwi, el personal de cocina se pone en marcha. Prepararán el sandwich seleccionado con los ingredientes frescos y de alta calidad de acuerdo con las especificaciones del cliente.
                    </div>
                </li>
                <li>
                    <i class="fas fa-box"></i>
                    <div class="home-texto-recorrido">
                        <h4>
                            ETAPA 2
                        </h4>
                        <p>
                            Después de que el sandwich está listo, pasa por la etapa de empaque y etiquetado. Se aseguran de que el sandwich esté correctamente envuelto y protegido para mantener su frescura durante el transporte. Además, se coloca una etiqueta con los detalles del pedido y la dirección del cliente.
                    </div>
                </li>
                <li>
                    <i class="fas fa-truck"></i>
                    <div class="home-texto-recorrido">
                        <h4>
                            ETAPA 3
                        </h4>
                        <p>
                            Una vez que el sandwich está empaquetado y etiquetado, se pasa a la etapa de entrega y transporte. Un equipo de repartidores capacitados recoge los pedidos y los lleva a su destino. Utilizan métodos de transporte eficientes y seguros para garantizar que los sandwiches lleguen en perfecto estado.
                        </p>
                    </div>
                </li>
                <li>
                    <i class="fas fa-check"></i>
                    <div class="home-texto-recorrido">
                        <h4>
                            ETAPA 4
                        </h4>
                        <p>
                            Finalmente, el repartidor llega a la dirección del cliente y realiza la entrega del pedido. El cliente recibe su delicioso sandwich fresco y listo para ser disfrutado en la comodidad de su hogar. En caso de ser necesario, el repartidor también podría proporcionar utensilios adicionales o acompañamientos solicitados en el pedido.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>