<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/load-sandwich.css">
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="load-container">
        <form action="/load-sandwich" method="post" class="load-form">
            <div class="load-input-container">
                <label for="image" class="load-label">Imagen del Sandwich (png, jpg, jpeg):</label>
                <input type="file" id="image" name="image" accept="image/png, image/jpeg" class="load-input" required>
            </div>
            <div class="load-input-container">
                <label for="name" class="load-label">Nombre del Sandwich:</label>
                <input type="text" id="name" name="name" class="load-input" required placeholder="Ej: Sandwich de Pollo">
            </div>
            <div class="load-input-container">
                <label for="type" class="load-label">Tipo de Sandwich:</label>
                <select id="type" name="type" class="load-input" required>
                    <option value="lomito">Lomito</option>
                    <option value="milanesa">Milanesa</option>
                    <option value="hamburguesa">Hamburguesa</option>
                    <option value="sandwich de miga">Sandwich de Miga</option>
                    <option value="otros">Otros</option>
                </select>
            </div>
            <div class="load-input-container">
                <label for="price" class="load-label">Precio del Sandwich:</label>
                <input type="number" id="price" name="price" step="1" class="load-input" required placeholder="Ej: 5">
            </div>
            <div class="load-input-container">
                <label for="description" class="load-label">Descripción del Sandwich:</label>
                <textarea id="description" name="description" rows="4" class="load-textarea" required placeholder="Ej: Un delicioso sandwich de pollo con vegetales y aderezos"></textarea>
            </div>
            <button type="submit" class="load-submit-cargar">Subir Sandwich</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</html>