@font-face {
    font-family: Tommy;
    src: url("/font/Tommy.otf");
}

.list-ofertas{
    text-align: center;
}

.list-ofertas h2{
    font-family: Tommy;
    font-size: 25px;
    margin: 20px;
}

.list-tarjetas-container{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    padding:30px 0px;
    border-bottom: 1px solid rgb(57, 57, 57);
    border-top: 1px solid rgb(57, 57, 57);
}

.list-img-container{
    width: 32%; /* Establece el ancho deseado del contenedor */
    height: 150px; /* Establece la altura deseada del contenedor */
    overflow: hidden; /* Recorta el contenido que excede el contenedor */
    display: flex; /* Utiliza flexbox para centrar la imagen */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: black;
}
.list-img-container img{
    width: 100%; /* Ajusta el ancho de la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    opacity: 0.6;
}

.list-products{
    margin: 30px 10%;
}

.list-products-pagination {
    margin: 30px 10%;
    display: flex;
    justify-content: space-between;
}

.list-products-pagination-button {
  padding: 8px 16px;
  background-color: #F57423;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  text-decoration: none;
  color: #03264C;
}

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  right: 2rem;
  bottom: 4rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  outline: 0;
  border: none;
  transition: opacity 0.3s ease-out, transform 0.3s;
  background: #fff;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.15);
  color: hsl(230, 17%, 14%);
}

.scroll-top-btn:hover {
  transform: scale(1.1);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.list-tarjeta{
    background-color: rgb(220, 220, 220);
}

.list-tarjeta a{
    display: flex;
    margin: 20px 0;
    height: 250px;
    text-decoration: none;
}
.list-tarjeta img{
    height: 100%;
}

.list-text-container{
    padding: 20px;
    color: black;    
}

.list-text-container h3{
    font-family: Tommy;
    font-size: 25px;
    margin-bottom: 10px;
}

.list-price{
    font-weight: 300;
    margin-bottom: 10px;
}

.list-text-container p{
    font-style: italic;
    font-weight: 300;
}

.list-sign-container h2{
    font-size: 27px;
    margin: 50px 30px 10px;
    font-family: Roboto;
    font-weight: 900;
}