<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', { cssSheets: ["products-cart"], title: "Mi carrito de compras" }) %>

<body>

  <%- include('../partials/header.ejs') %>

    <main class="products-cart__container">
      <h1 class="products-cart__title">Carrito de compra</h1>
      <a href="/products" class="products-cart__link">Seguir comprando</a>
      <form method="get" action="/billing" id="products-cart__form">
        <table class="products-cart__table">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>            
          </tbody>
        </table>
        <div>
          <div>
            <label class="products-cart__date-of-delivery-or-takeout" for="date-of-delivery/takeout">Número de celular para recibir el pedido</label>              
              <input type="tel" name="cellphone" id="date-of-delivery/takeout" class="products-cart__cellphone">
          </div>
          <div>
            <label for="note" class="products-cart__note">¿Querés agregar una nota a tu pedido? ¿Querés enviar un
              mensaje
              de regalo?</label>
            <textarea name="note" id="note" rows="3"></textarea>
          </div>
        </div>
        <div class="products-cart__subtotal">
          <p>Subtotal</p>
          <span>$7.100 ARS</span>
        </div>
        <p>Impuestos incluidos. <a href="#">Revisá acá los gastos de envío</a> que se agregarán en la pantalla de pagos.
        </p>
        <button type="submit" id="products-cart__submit">
          <img src="/img/icons/whatsapp.png" alt="whatsapp" class="products-cart__whatsapp">
          <span>Enviar mensaje</span>
        </button>
      </form>
    </main>

    <template id="empty-cart">
      <div class="products-cart__empty">
        <h3 class="products-cart__empty-title">No hay productos en el carrito</h3>
      </div>
    </template>

    <template id="product_popup_template">
      <div class="product__popup">
        <h3></h3>
        <img class="product__popup-img" src="" alt="">
      </div>
    </template>


    <%- include('../partials/footer.ejs') %>
    <script src="/js/cart.js"></script>
    <script src="/js/submit-msg-cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>

</body>

</html>